//Basic Styling Guideline

:root {
  --black-80: #000000;
  --black-60: #4f4c4a;
  --black-20: #c4c4c4;
  --black-10: #e1e2e3;
  --black-5: #f4f5f7;

  --grey-10: #e2e1df;

  --white: #ffffff;

  --bg_blue: #f4f5f6;
  --bg-black: #4a4b4d;
}
